:root {
--primary-color: rgba(255, 255, 255, 0.87);
--secundary-color: royalblue;
--terciary-color:#242424;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: rgba(255, 255, 255, 0.87);
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.main-container{
  flex: 1;
  max-width: 1240px;
  display: flex;
  flex-direction: column;
}
